/* Clearfix */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-colour: #ddc67a;
    --primary-heading-colour: #000000;
    --secondary-colour: #69563e;
    --secondary-heading-colour: #000000;
    --tertiary-colour: #0daae3;
    --white-text: #efefef;

    --primary-font: helvetica;
    --heading-font: "Epilogue", sans-serif;
}

/* Dark Mode */
.dark-mode, .dark-mode .select2-container--default .select2-selection--single, .dark-mode .popup-form .select2-container--default .select2-selection--single, .select2-results {
    --primary-colour: #1c1c1c;
    --primary-heading-colour: #efefef;
    --secondary-colour: #222729;
    --secondary-heading-colour: #e5e5e5;
}



html {
    font-size: 62.5%;
    background-color: var(--primary-colour);
}

body {
    font-size: 1.6rem;
    font-family: var(--primary-font);
    color: var(--primary-heading-colour);
}

/* Layout Containers */
.section-primary {
    padding: 10rem 5rem;
    background-color: var(--primary-colour);
    color: var(--primary-heading-colour);
}

.section-secondary {
    padding: 10rem 5rem;
    background-color: var(--secondary-colour);
    color: var(--secondary-heading-colour);
}

.content-container {
    max-width: 128rem;
    margin: auto;
}

/* Typography Styles */
.primary-heading, .secondary-heading {
    font-family: var(--heading-font);
    margin-bottom: 1rem;
    font-size: 4rem;
}

.primary-heading {
    color: var(--primary-heading-colour);
}

.secondary-heading {
    color: var(--secondary-heading-colour);
}

.subheading {
    color: var(--primary-heading-colour);
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
}

.header-content {
    align-content: center;
    margin-right: 5rem;
}

.header-image {
    max-width: 60rem;
    border: 5px solid var(--tertiary-colour);
}


/* Dark Mode */
.dark-mode .white-img {
    filter: invert(100%);
}

.white-img {
    height: 3rem;
    padding: 0.3rem 2rem;
}


/* Navigation Bar */
.nav-toggle {
    display: none; /* Hidden for large viewports */
}

nav {
    background-color: var(--primary-colour);
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
}

.nav-links li {
    list-style-type: none;
    padding: 1rem 10rem;
}

.nav-links a {
    color: var(--primary-heading-colour);
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 300;
}

.nav-links a:hover, .nav-links .active {
    color: var(--tertiary-colour);
    text-decoration: underline;
}


/* Detail Entry */
.login {
    height: 100%;
    margin: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    background-color: var(--secondary-colour);
}

.login-container {
    max-width: 40rem;
    margin: auto;
    padding: 2rem;
    background-color: var(--primary-colour);
    border-radius: 8px;
    border: 3px solid var(--tertiary-colour);
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.6rem;
    padding: 1rem;
    color: var(--primary-heading-colour);
    font-family: var(--primary-font);
    margin: 1rem;
    justify-self: flex-start;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], input[type="file"], textarea {
    background-color: white;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid var(--secondary-colour);
    border-radius: 5px;
    max-height: 5rem;
    max-width: 38rem;
    min-width: 38rem;
}

input[type="date"] {
    max-height: 4rem;
}

textarea {
    min-height: 8rem;
    max-height: 8rem;
    resize: none;
}

.login-heading {
    font-family: var(--heading-font);
    padding-bottom: 2rem;
    font-size: 2.5rem;
}


/* Select2 */
.select2-selection {
    min-height: 4rem;
    border-radius: 5px;
}


.select2-selection__arrow {
    height: 3rem !important;
}

.popup-form .select2-container, .select2-container {
    width: 100% !important;
}

.popup-form .select2-selection__rendered, .select2-selection__rendered {
    line-height: 4rem !important;
    width: 100% !important;
    color: #000000 !important;
}

.select2-container .select2-selection--single {
    height: 4rem !important;
    width: 100% !important;
}

.select2-results {
    color: #000000 !important;
}

/* Higlighted (hover) result */
.select2-results__option--highlighted {  
    background-color: var(--tertiary-colour) !important;
}


/* Image Upload */
.image-preview-container {
    display: none; /* Initially hidden */

}

.image-preview {
    max-width: 100%;
    max-height: 20rem;
    border: 2px solid var(--tertiary-colour);

}


button, input[type=file]::file-selector-button {
    font-family: var(--primary-font);
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: var(--secondary-heading-colour);
    background-color: var(--tertiary-colour);
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 25px;
    transition: background-color 0.75s, color 0.75s;
}

input[type=file]::file-selector-button {
    margin-top: 0;
    margin-right: 2rem;
    padding: 1rem 2rem;
}

button:hover, input[type=file]::file-selector-button:hover {
    background-color: var(--secondary-colour);
    color: var(--white-text);
}


/* Cataloguing */
.cataloguing-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.cataloguing-container {
    margin: auto;
    padding: 2rem;
    background-color: var(--primary-colour);
    border-radius: 8px;
    border: 3px solid var(--tertiary-colour);
    text-align: center;
}

.cataloguing-details > * {
    border: 3px solid var(--tertiary-colour);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.cataloguing-pairing {
    margin-bottom: 1rem;
}

.cataloguing-pairing .select2-container {
    margin-bottom: 1rem !important;
}

.popup-form {
    max-width: 45rem;
    z-index: 9;

    /* Centering */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dig-popup {
    display: none;
}

.location-popup {
    display: none;
}

.artefact-popup {
    display: none;
}

.popup-form > .cataloguing-pairing  {
    border: 3px solid var(--tertiary-colour);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.select2-results {
    color: #000000 !important;
}

/* Higlighted (hover) result */
.select2-results__option--highlighted {  
    background-color: var(--tertiary-colour) !important;
}


/* Organisation */
/* Search */
.search-container {
    margin-bottom: 3rem;
}

.search-pairing{
    min-width: 60%;
    max-width: 75%;
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: var(--primary-colour);
    border-radius: 20px;
    padding: 1rem 0;
}

.search-img {
    max-width: 2rem;
}

.search-button {
    max-width: min-content;
    margin: 0;
}

.search-pairing input[type='text'] {
    min-width: 90%;
    margin-right: 1rem;
}


/* Artefact display */
.artefacts-container > * {
    border: 2px solid var(--tertiary-colour);
    background-color: var(--secondary-colour);
    margin-inline: 2rem;
}

.artefacts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 3rem;
    max-width: 150rem;
    margin: auto;
}

.artefactDiv {
    width: auto;
    background-color: var(--tertiary-colour);
    cursor:pointer;
    pointer-events:auto;
}

.detailsDiv {
    font-family: var(--heading-font);
    font-size: 1.6rem;
    color: var(--secondary-heading-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artefactDiv img {
    object-fit: cover;
    width: 100%;
}

.artefact-pairing {
    width: 100%;
    background-color: var(--tertiary-colour);
    min-width: 12.5rem;
}

.artefact-pairing > *, .dig-pairing > * {
    color: var(--primary-heading-colour);
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}


/* Media */
@media screen and (max-width: 1870px) {

    input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], textarea, select {
        width: 20rem;
    }

    .cataloguing-details {
        grid-template-columns: repeat(3, 1fr);
    }

    .cataloguing-details > * {
        max-width: 50rem;
    }
}